@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.take {
  animation: take 2s;
}

.take-reverse {
  animation: takeReverse 2s;
}

.display-none {
  display: none;
}

.bring-forward{
  animation: bring 1.5s;
}

.bring-forward-reverse{
  animation: bringReverse 1.5s;
}


@keyframes bringReverse {
  0% { transform:translateX(-800px) }
  100% { transform:translateX(0px) }
}

@keyframes bring {
  0% { transform:translateX(800px) }
  100% { transform:translateX(0px) }
}

@keyframes take {
  0% { transform:translateX(0px) }
  100% { transform:translateX(800px) }
}

@keyframes takeReverse {
  0% { transform:translateX(0px) }
  100% { transform:translateX(-800px) }
}





body {
  background-color: #293241;
}

h1 {
  color: #E0FBFC;
  text-shadow: 2px 2px #3D5A80 ;

}


h4 {
  color: #E0FBFC;
  text-shadow: 2px 2px #3D5A80 ;

  }


.clickme {
  margin-top: -100px;
  color: #E0FBFC;
  text-shadow: 1px 1px #3D5A80 ;

}

.hand {
  animation: give 3s;
  
}

@keyframes give {
  0% { transform:translateY(-200px) }
  100% { transform:translateY(0px) }
}

.clickme {
  transition: opacity .25s ease-in-out
}


.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

:root {
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
  --color: #3c3163;
  --transition-time: 0.5s;
}


.home-body {
  font-family: 'Roboto', sans-serif;
  height: 100vh !important;
  width: 100vw;
  margin: 0;
}

.h1-home {
  font-size: 4rem;
  color: #293241;
  text-shadow: 1px 1px #E0FBFC !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}


.split-container {
  position: relative;
  width: 100%;
  height: 100%;

}

.split {
  position: absolute;
  width: 50%;
  height: 100vh;
}

.split.left {
  left: 0;
  background-color: #3D5A80 ;
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.split.right {
  right: 0;
  background-color: #98C1D9;
  background-repeat: no-repeat;
  background-size: cover;

}

.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

@media (max-width: 800px) {
  .h1-home {
    font-size: 2rem;
  }
}


.our-team {
  padding: 30px 0 10px;
  background-color: #EE6C4D;
  text-align: center;
  overflow: hidden;
  border-radius: 100px
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #293241;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #293241;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #293241;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #E0FBFC;
  text-transform: capitalize;
}

.name {
  color: #293241;
  text-shadow: 1px 1px #E0FBFC !important;

}
.title {
  color: #293241 !important;
  text-shadow: 1px 1px #E0FBFC !important;

}

.sub-title {
  color: #293241;
  text-shadow: 1px 1px #E0FBFC !important;

}

.masonry {
  columns: 4;
  column-gap: 16px;
  width: 75vw;
  padding: 20px;
}
@media (max-width: 1200px) {
  .masonry {
    columns: 3;
 }
}
@media (max-width: 992px) {
  .masonry {
    columns: 2;
 }
}
.masonry .grid {
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
}
.masonry .grid:before {
  border-radius: 5px;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .2);
}
.masonry .grid img {
  width: 100%;
  border-radius: 5px;
}
.masonry .grid__title {
  font-size: 28px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}
.masonry .grid__author {
  font-size: 14px;
  font-weight: 300;
}
.masonry .grid__link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.masonry .grid__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.masonry .grid__tag {
  background-color: rgba(255, 255, 255, .8);
  color: #333;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 5px;
}
.mt-auto {
  margin-top: auto;
}


